body {
       background-color: #BABEC9;
       background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
       background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 40%, transparent 60%, transparent);
       background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
       background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
       background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
       background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
       webkit-background-size: 5px 5px;
       moz-background-size: 5px 5px;
       background-size: 5px 5px;
       }

input.new-item {text-align:center; margin-left:auto; margin-right:auto; display:block; width:99%; border-radius:5pt; border: 1px solid black; font-size: 16pt; padding: 3px 0;}

.todo-item {background-color: #fff; padding: 0 15px 3px 15px; border:1px solid black; margin-bottom:0; border-bottom:none;}
.todo-item:first-child { border-top-left-radius: 10px; border-top-right-radius: 10px;}
.todo-item:last-child { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-bottom: 1px solid black; }
.todo-item:nth-child(even){ }
.todo-item:nth-child(odd){ }


.todo-item input { margin: 0 10px 0 0; }
.task-name {display:inline;}

.task-name.done {text-decoration:line-through; }

.no-tasks { background-color: #FFF5D0; border: 1px solid #FFCA00; border-radius: 10px; text-align: center; padding: 10px; font-size: 1.3em}
.tasks-remaining { background-color: #FFE3C3;  border: 1px solid #A65900; border-radius: 10px; text-align: center; padding: 0; font-size: 1.3em; }
.hide { display: none; }
